{% extends 'base.html.twig' %}
{% block title %}<title>Home</title>{% endblock %}
{% block body %}
    <div class="container text-center">
        <div class="row mt-5" >
            <div class="col">
                <div class="home_image">
                    <h2>Pure PHP + bootstrap</h2>
                    <a href="/users"><img src="/assets/images/native.png" alt="HTML tutorial" style="width:500px;height:500px;"></a>
                </div>
            </div>
            <div class="col">
                <div class="home_image">
                    <h2>Vue 3 + Vuetify </h2>
                    <a href="http://localhost:8080"><img src="/assets/images/vue.png" alt="HTML tutorial" style="width:500px;height:500px;"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

