{% extends 'base.html.twig' %}
{% block title %}<title>Home</title>{% endblock %}
{% block body %}
    <div class="container" id="container">
        <div class="box">
            <a href="/users" class="button-1">Show all users</a>
        </div>
    </div>
{% endblock %}

