{% block nav %}{% endblock %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand">Native PHP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"><button type="button" class="btn btn-light">Home</button></a>
                </li>
                <li class="nav-item dropdown">
                    <div class="dropdown" >
                        <a class="btn btn-light dropdown-toggle" style="margin-top: 0.5rem" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Data source
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/users">Local database</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080">Go REST API</a></li>
                        </ul>
                    </div>

                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/documentation/"><button type="button" class="btn btn-light">Api-Documentation</button></a>
                </li>
                <li class="nav-item">

                    <a class="nav-link active" aria-current="page" href="http://localhost:8081" ><button type="button" class="btn btn-light">PHP Admin</button></a>
                </li>
            </ul>
        </div>
    </div>
</nav>