#container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.box {
    padding: 37px;
    width: auto;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    color: black;
}

.box-show {
    padding: 37px;
    width: auto;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    color: black;
}

.box_main {
    padding: 37px;
    width: auto;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    color: black;
}


table tr {
    cursor: pointer;
}

/*tr:hover {*/
/*    background-color: #ffff99 !important;*/
/*}*/


.alert-create {
    padding: 20px;
    background-color: rgba(92, 184, 92, 0.7);
    border-radius: 6px;
    margin-bottom: 35px;
}

.alert-update {
    padding: 20px;
    background-color: #5bc0de;
    border-radius: 6px;
    margin-bottom: 35px;
}

.alert-delete {
    padding: 20px;
    background-color: rgba(253, 7, 0, 0.64);
    border-radius: 6px;
    margin-bottom: 35px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/**/

.star {
    color: red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.errorMsg {
    color: #910707;
}

.actions {
    display: flex;
    justify-content: space-between;
}


#btn-danger {
    color: #d50505;
}

#btn-success {
    color: #0b9f01;
}

.modal-content {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px; /* Need a specific value to work */
    max-width: max-content;

}

.errorMsg {
    color: #bb0303;
}

.error {
    margin-bottom: 10px;
}

select {
    margin-bottom: 0 !important;
}

input {
    margin-bottom: 0 !important;
}