#container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.box {
    padding: 37px;
    width: auto;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    color: black;
}

.box-show {
    padding: 37px;
    width: auto;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    color: black;
}

.box_main {
    padding: 37px;
    width: auto;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    color: black;
}


table tr {
    cursor: pointer;
}
/*tr:hover {*/
/*    background-color: #ffff99 !important;*/
/*}*/


.alert-create {
    padding: 20px;
    background-color: rgba(92, 184, 92, 0.7);
    border-radius: 6px;
    margin-bottom: 35px;
}
.alert-update {
    padding: 20px;
    background-color: #5bc0de;
    border-radius: 6px;
    margin-bottom: 35px;
}
.alert-delete {
    padding: 20px;
    background-color: rgba(253, 7, 0, 0.64);
    border-radius: 6px;
    margin-bottom: 35px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
/**/

.star {
    color: red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.errorMsg {
    color: #910707;
}

.actions {
    display: flex;
    justify-content: space-between;
}



#btn-danger{
    color: #d50505;
}

#btn-success{
    color: #0b9f01;
}


 /* CSS */
.button-1 {
     background-color: #0275d8;
     border-radius: 8px;
     border-style: none;
     box-sizing: border-box;
     color: #FFFFFF;
     cursor: pointer;
     display: inline-block;
     font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 14px;
     font-weight: 500;
     height: 40px;
     line-height: 20px;
     list-style: none;
     margin: 0;
     outline: none;
     padding: 10px 16px;
     position: relative;
     text-align: center;
     text-decoration: none;
     transition: color 100ms;
     vertical-align: baseline;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
    background-color: rgba(27, 52, 220, 0.89);
}


/*.modal {*/
/*    display:none;*/
/*    position: fixed; !* Stay in place *!*/
/*    z-index: 1; !* Sit on top *!*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%; !* Full width *!*/
/*    height: 100%; !* Full height *!*/
/*    background-color: rgb(0,0,0); !* Fallback color *!*/
/*    background-color: rgba(0,0,0,0.7); !* Black w/ opacity *!*/
/*}*/

.modal-content {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px; /* Need a specific value to work */
    max-width: max-content;
    /*position: fixed;*/
    /*border-radius:10px;*/
    /*border: 1px solid #ccc;*/
    /*width: 80%; !* Could be more or less, depending on screen size *!*/
    /*transform: translate(-50% , -50%);*/
    /*font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-size: 20px;*/
    /*font-weight: 500;*/
}

/*.modal-header{*/
/*    justify-content: center;*/
/*    align-items: stretch;*/
/*    box-shadow: 0 1px 1px rgb(10 10 10 / 10%);*/
/*    display: flex;*/
/*}*/

/*.modal-footer{*/
/*    justify-content: center;*/
/*    box-shadow: 0 1px 1px rgb(10 10 10 / 10%);*/
/*    display: flex;*/
/*    margin-left: 6px !important;*/
/*    margin-top: 6px !important;*/
/*}*/

.errorMsg{
    color: #bb0303;
}

.error{
    margin-bottom: 10px;
}

select {
    margin-bottom: 0 !important;
}

input{
    margin-bottom: 0 !important;
}